<% provide(:title, "Edit") %>

<div class="row">
  <h1>Update Profile</h1>
  <div class="col-md-6 col-md-offset-3">

  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.submit "Update", class: "btn btn-primary" %>
    <a href="/profile" class="btn btn-primary w3-right" id="signup-cancel">Cancel</a>

  <% end %>
  </div>
</div>
