= provide(:title, "Users")

%body
  %h2
    = @users.count
    users
  = will_paginate
    - @users.each do |user|
    / Users
    - if !user.admin?
      .w3-container.row.w3-round.w3-white{ style: "margin-top: 10px;"}
        .w3-container.w3-card.col-md-6.col-md-offset-3
          %p
            %i.fa.fa-pencil.fa-fw.w3-margin-right.w3-text-theme
            Email:
            = user.email
          %hr/
          %p
            %i.fa.fa-pencil.fa-fw.w3-margin-right.w3-text-theme
            Name:
            = user.name
          %p
            %i.fa.fa-pencil.fa-fw.w3-margin-right.w3-text-theme
            Bio:
          %hr/
          = link_to "Delete", user_path(user), method: :delete, data: { confrim: 'Are you sure?'}


