<div class="w3-top">
  <!-- Header Logo and Links --> 
  <div class="w3-bar w3-black w3-wide w3-padding w3-card">
    <% if request.original_url != root_url %>
      <%= link_to image_tag('navbar/lighthouse.png'), root_path, id: "logo"%>
    <% else %>
      <%= image_tag('navbar/lighthouse.png', id: "logo") %>
    <% end %>
    <div class="w3-button w3-right" onclick="w3_open()">☰</div>

    <% if logged_in? %>
      <%= link_to "Log out", logout_path, method: :delete, class: "w3-button w3-right" %>
      <% else  %>
      <%= link_to "Log in", login_path, class: "w3-button w3-right"  %>
    <% end %>

  </div>

  <!-- Pop out sidebar -->
  <div class="w3-sidebar w3-bar-block w3-card w3-top w3-animate-right w3-black"
       style="color:white;display:none;z-index:2;right:0px;width:200px;min-width:250px;" id="mySidebar">
    <%= render 'layouts/sidebar' %>
  </div>
</div>

<!-- About Modal -->
<div id="id01" class="w3-modal">
  <%= render 'layouts/about_modal' %>
</div>

