<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.submit "Create my account", class: "btn btn-primary" %>
  <a href="<%= root_url %>" class="btn btn-primary w3-right">Cancel</a>
<% end %>