<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129383298-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-129383298-1');
    </script>

  </head>
  <body>

    <%= render 'layouts/header' %>

    <% flash.each do |message_type, message| %>
       <div id="flash-box" class="alert alert-<%= message_type %>"><%= message %>
         <i class="w3-right fa fa-window-close"
            style="padding-top:4px;" onclick="flash_close()"></i>
       </div>
    <% end %>

    <div class="container" >
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>

  <!-- Ruby debug box for development -->
  <%= debug(params) if Rails.env.development? %>
</html>
