<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>


    <% flash.each do |message_type, message| %>
    <div id="flash-box" class="alert alert-<%= message_type %>"><%= message %><a class="w3-button w3-right fa fa-window-close" onclick="flash_close()"></a></div>
    <% end %>

    <div class="container" >

      <%= yield %>

    </div>
    <%= render 'layouts/footer' %>
  </body>

  <%= debug(params) if Rails.env.development? %>



</html>
